{{#if post.originalPost}}
  <div class="post-block clearfix">
    <div class="repost-header clearfix">
      <img class="icon" src="/assets/images/icon-retweet.png"/>

  <div class="author">Reposted by {{#link-to 'user' post.author class="dark-gray-link"}}{{post.author.id}}{{/link-to}}</div>
    </div>

    {{#link-to 'user' post.originalPost.author class="avatar link"}}<img src="/assets/images/avatars/{{post.originalPost.author.id}}.png"/>{{/link-to}}

    <div class="content">
      <div class="author">{{#link-to 'user' post.originalPost.author class="link"}}{{post.originalPost.author.name}}{{/link-to}}</div>
      <div class="text">{{post.originalPost.postContent}}</div>
      <div class="footer">
        <span class="timestamp">{{ago post.originalPost.timestamp}}</span>
        {{#unless belongsToAuthenticatedUser}}
          <span class="middot">&middot;</span>
          <a class="blue-link" {{action 'repost' post=post}}>Repost</a>
        {{/unless}}
        {{#if belongsToAuthenticatedUser}}
          <span class="middot">&middot;</span>
          <a class="blue-link" {{action 'deletePost' post=post}}>Delete</a>
        {{/if}}
      </div>
    </div>
  </div>
{{else}}
  <div class="post-block clearfix">
    {{#link-to 'user' post.author class="avatar link"}}<img src="/assets/images/avatars/{{post.author.id}}.png"/>{{/link-to}}

    <div class="content">
      <div class="author">{{#link-to 'user' post.author class="link"}}{{post.author.name}}{{/link-to}}</div>
      <div class="text">{{post.postContent}}</div>
      <div class="footer">
        <span class="timestamp">{{ago post.timestamp}}</span>
        {{#unless belongsToAuthenticatedUser}}
          <span class="middot">&middot;</span>
          <a class="blue-link" {{action 'repostConfirm' post=post}}>Repost</a>
        {{/unless}}
        {{#if belongsToAuthenticatedUser}}
          <span class="middot">&middot;</span>
          <a class="blue-link" {{action 'deletePost' post=post}}>Delete</a>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}
{{#if repostPromptVisible}}
<div class="post-block clearfix confirm-repost">
  <img class="avatar" src="/assets/images/icon-retweet.png"/>

  <div class="content">
    <div class="question">Repost this to your followers?</div>
    <div class="footer">
      <a class="blue-link" {{action 'repost' post=post}}>Yes</a>
      <span class="middot">&middot;</span>
      <a class="blue-link" {{action 'repostDecline' post=post}}>No</a>
    </div>
  </div>

</div>
{{/if}}