<form {{action "login" on="submit"}}>
  <div class="prompt">
    Get going ...
  </div>
  {{#if errorText}}
  <div class="error">
    {{ errorText }}
  </div>
  {{/if}}
  <div class="clearfix">
    {{ input type="text" value=username placeholder="Enter your username ..." }}
    {{ input type="password" value=password placeholder="Enter your password ..." }}
  </div>
  <div class="login button">
    {{ input type="submit" value="Log in" }}
  </div>
  <div class="actions">
    {{link-to "Recover password" 'account.reset'}} or {{link-to "Sign up" 'account.signup'}}
  </div>
</form>
