<div class="nav-bar clearfix">
  <div class="third">
    <div class="home relative-center-y">
      <img class="icon" src="/assets/images/icon-home.png"/>
      {{link-to "Home" 'dashboard' class='title dark-gray-link'}}
    </div>
  </div>

  <div class="third">
    <img class="relative-center-xy" src="/assets/images/telegram-logo-small.png"/>
  </div>

  <div class="third">
    <div class="user relative-center-y">
      <a class="avatar link"><img src="/assets/images/avatars/{{model.user.id}}.png"/></a>
      <a class="name dark-gray-link">{{model.user.name}}</a>
      {{link-to "Log out" 'logout' class='logout dark-gray-link'}}
    </div>
  </div>
</div>

<div class="dashboard">
  <div class="create-post">
    <textarea placeholder="What's happening?" autofocus="autofocus"></textarea>
    <div class="footer clearfix">
      <div class="characters-left">140 characters</div>
      <div class="publish dark-gray-btn">Publish</div>
    </div>
  </div>

  <div class="title">Latest posts</div>

  <div class="posts-list">
    {{#each post in model.posts}}
      <div class="post-block clearfix">
        <a class="avatar link"><img src="/assets/images/avatars/{{post.author.id}}.png"/></a>

        <div class="content">
          <div class="author"><a class="link">{{post.author.name}}</a></div>
          <div class="text">{{post.content}}</div>
          <div class="footer">
            <span class="timestamp">{{ago post.timestamp}}</span>
            <span class="middot">&middot;</span>
            <a class="blue-link">Repost</a>
            <span class="middot">&middot;</span>
            <a class="blue-link">Delete</a>
          </div>
        </div>

        <div class="repost-header clearfix">
          <img class="icon" src="/assets/images/icon-retweet.png"/>
          <div class="author">Reposted by <a class="dark-gray-link">Cristian Strat</a></div>
        </div>
      </div>
    {{/each}}

    <div class="post-block clearfix confirm-repost">
      <img class="avatar" src="/assets/images/icon-retweet.png"/>

      <div class="content">
        <div class="question">Repost this to your followers?</div>
        <div class="footer">
          <a class="blue-link">Yes</a>
          <span class="middot">&middot;</span>
          <a class="blue-link">No</a>
        </div>
      </div>
      <div class="repost-header clearfix">
        <img class="icon" src="/assets/images/icon-retweet.png"/>
        <div class="author">Reposted by <a class="dark-gray-link">Cristian Strat</a></div>
      </div>
    </div>
  </div>
</div>