<div class="nav-bar clearfix">
  <div class="third">
    <div class="home relative-center-y">
      <img class="icon" src="/assets/images/icon-home.png"/>
      {{link-to "Home" 'dashboard' class='title dark-gray-link'}}
    </div>
  </div>

  <div class="third">
    <img class="relative-center-xy" src="/assets/images/telegram-logo-small.png"/>
  </div>

  <div class="third">
    <div class="user relative-center-y">
      <a class="avatar link"><img src="/assets/images/avatars/{{model.user.id}}.png"/></a>
      <a class="name dark-gray-link">{{model.user.name}}</a>
      {{link-to "Log out" 'logout' class='logout dark-gray-link'}}
    </div>
  </div>
</div>

<div class="dashboard">
  <div class="create-post">
    {{ textarea placeholder="What's happening?" value=newPost autofocus="autofocus" }}
    <div class="footer clearfix">
      <div class="characters-left {{#unless canPublish}} warning {{/unless}}">
        {{charactersRemainingText}}
      </div>
      <div class="publish dark-gray-btn {{#unless canPublish}} warning {{/unless}}" {{action 'publish'}}>Publish</div>
    </div>
  </div>

  <div class="title">Latest posts</div>

  <div class="posts-list">
    <!-- TODO: extract into Handlebars helper & template -->
    {{#each post in sortedPosts}}
      {{#if post.originalPost}}
        <div class="post-block clearfix">
          <div class="repost-header clearfix">
            <img class="icon" src="/assets/images/icon-retweet.png"/>

            <div class="author">Reposted by <a class="dark-gray-link">{{post.author.id}}</a></div>
          </div>

          <a class="avatar link"><img src="/assets/images/avatars/{{post.originalPost.author.id}}.png"/></a>

          <div class="content">
            <div class="author"><a class="link">{{post.originalPost.author.name}}</a></div>
            <div class="text">{{post.originalPost.content}}</div>
            <div class="footer">
              <span class="timestamp">{{ago post.originalPost.timestamp}}</span>
              <span class="middot">&middot;</span>
              {{#unless belongsToAuthenticatedUser}}<a class="blue-link" {{action 'repost' post}}>Repost</a>{{/unless}}
              <span class="middot">&middot;</span>
              {{#if belongsToAuthenticatedUser}}<a class="blue-link" {{action 'deletePost' post}}>Delete</a>{{/if}}
            </div>
          </div>
        </div>
      {{else}}
        <div class="post-block clearfix">
          <a class="avatar link"><img src="/assets/images/avatars/{{post.author.id}}.png"/></a>

          <div class="content">
            <div class="author"><a class="link">{{post.author.name}}</a></div>
            <div class="text">{{post.content}}</div>
            <div class="footer">
              <span class="timestamp">{{ago post.timestamp}}</span>
              <span class="middot">&middot;</span>
              <a class="blue-link" {{action 'repost' post}}>Repost</a>
              <span class="middot">&middot;</span>
              <a class="blue-link" {{action 'deletePost' post}}>Delete</a>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
<!--
    <div class="post-block clearfix confirm-repost">
      <img class="avatar" src="/assets/images/icon-retweet.png"/>

      <div class="content">
        <div class="question">Repost this to your followers?</div>
        <div class="footer">
          <a class="blue-link">Yes</a>
          <span class="middot">&middot;</span>
          <a class="blue-link">No</a>
        </div>
      </div>

    </div>

    -->
  </div>
</div>
