<div class="nav-bar clearfix">
  <div class="third">
    <div class="home relative-center-y">
      <img class="icon" src="/assets/images/icon-home.png"/>
      {{link-to "Home" 'dashboard' class='title dark-gray-link'}}
    </div>
  </div>

  <div class="third">
    <img class="relative-center-xy" src="/assets/images/telegram-logo-small.png"/>
  </div>

  <!-- TODO: only populate if user is authenticated -->
  <div class="third">
    <div class="user relative-center-y">
      <a class="avatar link"><img src="/assets/images/avatars/{{session.authenticatedUser.id}}.png"/></a>
      <a class="name dark-gray-link">{{session.authenticatedUser.name}}</a>
      {{link-to "Log out" 'logout' class='logout dark-gray-link'}}
    </div>
  </div>
</div>

<div class="dashboard">
  <div class="user-profile">
    <a class="avatar link"><img src="/assets/images/avatars/{{session.authenticatedUser.id}}.png"/></a>
    <a class="name dark-gray-link">{{session.authenticatedUser.name}}</a>
    <div class="dark-gray-btn" {{action 'publish'}}>
      Follow
    </div>
  </div>

  <div class="profile-nav">
    {{#link-to 'user.posts'}}Posts{{/link-to}}
    {{#link-to 'user.following'}}Following{{/link-to}}
    {{#link-to 'user.followers'}}Followers{{/link-to}}
  </div>

  {{outlet}}
</div>