<div class="nav-bar clearfix">
  <div class="third">
    <div class="home relative-center-y">
      <img class="icon" src="/assets/images/icon-home.png"/>
      {{link-to "Home" 'dashboard' class='title dark-gray-link'}}
    </div>
  </div>

  <div class="third">
    <img class="relative-center-xy" src="/assets/images/telegram-logo-small.png"/>
  </div>

  <!-- TODO: refactor into header component -->
  <!-- TODO: only populate if user is authenticated -->
  <div class="third">
    <div class="user relative-center-y">
      {{#link-to 'user.posts' session.authenticatedUser class="avatar link"}}<img src="/assets/images/avatars/{{session.authenticatedUser.id}}.png"/>{{/link-to}}
      {{#link-to 'user.posts' session.authenticatedUser class="name dark-gray-link"}}{{session.authenticatedUser.name}}{{/link-to}}
      {{link-to "Log out" 'logout' class='logout dark-gray-link'}}
    </div>
  </div>
</div>

<div class="dashboard">
  <div class="user-profile">
    <a class="avatar link"><img src="/assets/images/avatars/{{user.id}}.png"/></a>
    <a class="name dark-gray-link">{{user.name}}</a>
    <a class="handle dark-gray-link">@{{user.id}}</a>

    <div class="follow-container">
      <div class="blue-btn" {{action 'follow' user}}>
        {{if user.followedByCurrentUser 'Unfollow' 'Follow'}}
      </div>
    </div>
  </div>

  <div class="profile-nav">
    {{#link-to 'user.posts' class='blue-link'}}Posts{{/link-to}}
    {{#link-to 'user.following' class='blue-link'}}Following{{/link-to}}
    {{#link-to 'user.followers' class='blue-link'}}Followers{{/link-to}}
  </div>

  {{outlet}}
</div>